{% extends 'blog/base.html' %}

{% block content %}
{% if user.is_authenticated %}
<div class="edit">
<a class="myButton" href="{% url 'post_edit' pk=post.pk %}">
  Edit
</a>
<a class="myButton" href="{% url 'post_delete' pk=post.pk %}">
  Delete
</a>
</div>
{% endif %}

    <div class="post">
        {% if post.published_date %}
        {% endif %}
        <h2>{{ post.title }}</h2>
          <div class="Date">
          {{ post.published_date }}
          </div>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endblock %}