h1 a {
    color: whitesmoke;
    text-decoration: none;
}
h1{
    background-color:coral;
    padding-top:100px;
    padding-bottom:20px;
    padding-left: 20px;
}
body{
    background-color:whitesmoke;
    margin:0px;
}