h1 a {
    color: whitesmoke;
    text-decoration: none;
    font-family: 'Righteous', cursive;
    font-size:72;
}
h1{
    background-color:coral;
    padding-top:100px;
    padding-bottom:20px;
    padding-left: 20px;
}
body{
    background-color:whitesmoke;
    margin:0px;
}
h2 {
    padding-left:1.5%;
    margin-bottom:3px;
    font-family: 'Righteous', cursive;  
}
h2 a {
    text-decoration:none;
    font-size:35;
    color: #545353 
}

#addPost{
    padding-left:1.5%;
}
.Date{
    padding-left:1.5%;
    color:gray
}

p{
    font-family: 'Open Sans', sans-serif;
    padding-left: 1.5%;
}